/* Scott Hicks */
/* PRG 270 Lab 2 3 */

body 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 432px;
    margin: 0 auto;
    padding: 10px; 
    background-color: white;
    border: 2px solid black;
}

h1
{
    font-size: 180%;
    color: white;
    padding: 0;
    margin-bottom: .5em;
    text-align: center;
    display: block;
    background-image: url("/Images/WavingFlag.gif");
}

ul
{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
}

.navbar li
{
    display: inline;
    padding-right: .5em;
}
.navbar li:nth-child(even) { color: blue; }
.navbar li:nth-child(odd) { color: red; }

a
{
    text-decoration: none; 
    color: inherit;
}
a:hover{ text-decoration: underline; }

label
{
    float: left;
    width: 10em;
}

.validationSummary
{
    display:
}
.label
{
    margin-right: .5em;
    font-weight: bold;
}
.entry
{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 5em;
}

.validator
{
    font-size: 95%;
    color: red;
    margin-left: 1em;
}

.navbutton
{
    margin-left: .5em;
}

.button
{
    width: 75px;      
}

.button2
{
    margin-left: 12em;
    margin-top: 1em;
    width: 80px;
}

.image
{
    height: 186px;
    width: 100%;
}

#lblBuyShares
{
    margin-left: -.1em;
    margin-top: 1em;
    font-weight: bold;
}


#ValidationSummary
{
    color: red;
}

#drpInvestment
{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 5.27em;
}

#drpBuyShares 
{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 15em;
}

#lblValue
{
    font-weight: bold;
    margin-left: 1em;
}

#lblPortfolioValue
{
    font-weight: bold;
}

#grdStocks
{
    border-style: solid;
}

